<!-- <div class="row"> -->
  <!-- <div class="col-md-9"> -->
    <linechart data="data" options="options" mode="" height="500"></linechart>
    <br><br>
    <button class="btn btn-default" ng-click="updateChart()">Update</button>
    <br>
    Total tweets analysed after filtering: {{totalanalysed}} from the total of {{dbsize}}
    <ul>
      <li ng-repeat="datapoint in totaltweets | orderBy:'x'">
        {{datapoint.x | date:'dd/MM/yyyy'}}: {{datapoint.total}}
      </li>
    </ul>
  <!-- </div> -->
<!-- </div> -->
